# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# ASP.NET User Secrets
# =========================
secrets.json

# =========================
# Environment files
# =========================
.env
*.env
secret.env

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Publish output
# =========================
publish/
out/

# =========================
# NuGet
# =========================
packages/
*.nupkg

# =========================
# Entity Framework
# =========================
*.dbmdl

# =========================
# SQL Server local database
# =========================
*.mdf
*.ldf

# =========================
# Temporary files
# =========================
tmp/
temp/